# Python
*.pyc
__pycache__/

# Eclipse settings
.settings

# When installed in develop mode
dist/
iPOPO.egg-info/

# Module generated during tests
generated_bundle.py

# Binaries
*.tar.gz
*.zip

# Tests and coverage
.tox/
.coverage
htmlcov/

# ConfigurationAdmin folder
conf/

# Profiling
*.lprof

# Epydoc Help
api/
html/

# Sphinx build
build/

# Google Analytics setter
private_make.sh

