[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = ">=1.71.0"
grpcio = ">=1.71.0"
jsonrpclib-pelix = ">=0.4.3"
kazoo = "==2.8.0"
osgiservicebridge = ">=1.5.8"
paho-mqtt = ">=2.1"
python-etcd = "==0.4.5"
pyyaml = ">=6.0"
redis = ">=2.10"
slixmpp = ">=1.8.4"
zeroconf = "==0.19.1"

[dev-packages]

[requires]
python_version = "3.10"
